[user]
	name = Jon Rohan
	email = yes@jonrohan.codes
	signingkey = B0BBE304A9A0AECB
[github]
  user = jonrohan
[gpg]
	program = gpg
[alias]
  br = branch
  ci = commit
  co = checkout
  count = !git shortlog -sn
  cp = cherry-pick
  cut = checkout -b
  ff = pull --ff-only
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  logg = log --graph --decorate --branches --remotes
  logs = log --stat --decorate
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  merged = !sh -c 'git rev-list HEAD | grep $(git rev-parse $0)'
  override = !sh -c 'echo git add -- $0 && echo git reset HEAD -q -- $0 && echo git checkout -- $0'
  pop = stash pop
  popf = !git stash show -p | git apply && git stash drop
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  purge-remote = !sh -c 'echo git branch -a | echo sed -n \"/master$/d;s?^ *remotes/$0/??p\"'
  sdcommit = !git stash && git svn dcommit && git stash pop
  sff = !git stash && git ff && git pop
  srebase = !git stash && git svn rebase -l && git stash pop
  st = status
  sup = !git stash && git up && git pop
  unadd = rm --cached
  up = pull --rebase
  vanity = shortlog -sn
  wu = log --stat origin..@{0}
[color]
	# Colour terminal command output when possible.
	ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
  ignorecase = false
[credential]
	# Use macOS Keychain to store HTTP passwords.
	helper = osxkeychain
[fetch]
	# Always prune when fetching (and pulling).
	prune = 1
[help]
  # Autocorrect mistyped commands.
	autocorrect = 1
[pull]
	# Default to rebasing on pulls
	rebase = true
[push]
	# Push to the set upstream branch being tracked by default.
	default = current
[rerere]
	# Store and re-use manual conflict resolution changes.
	enabled = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
